@media screen and (min-width: 480px) {
  .container {
    width: 480px;
   }
  .our_section__items {
    width: 450px;
  }
  .our_section__svg {
    width: 100%;
  }

  .our_section__paragraf {
    width: 100%;
  }
  .klients-icon {
    width: 208px;
  }
  .command_img {
    width: 480px;
  }
  .command__fon {
    width: 480px;
  }

  .hero {
    max-width: 480px;
    padding: 118px 0;
  }

  header > .container {
    padding: 0 23px 0 15px;
  }
  .logo-header {
    margin-right: 88px;
  }
  .burg__list {
    display: flex;
  }

  .burger {
    width: 480px;
  }
  .burg__list {
    gap: 35px;
  }

  .burg__contact {
    gap: 32px;
  }
  .burg-command__socials {
    margin-top: 64px;
    font-size: 18px;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .footer-post {
    width: 450px;}

    .futer-form {
        gap: 20px;}

    .button-mess {
        width: 200px;}
/* 
        portfolio */
        .product {
            width: 450px;
        }
        .modal {
          width: 450px;}

.command__socials {
  justify-content: center}

  .list-items>.link1{
    font-size: 16px;
  }
  .product__work-foto {
  width: 450px;
}
.command_img {
  width: 450px;
}
}
