@media screen and (min-width: 480px) {
    .container{
        width: 480px;
        padding: 0 15px;
           
    }
     .our_section__items {
        width: 450px;
    }
    .our_section__svg {
        width: 100%;
    }
    
    .our_section__paragraf {
        width: 100%
    }
    .klients-icon {
        width: 208px;
        
        }
        .command_img {
            width: 450px;
           }

  }