@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .our_section__items {
    width: 354px;
  }
  .our_section__title-section {
    text-align: left;
  }
  .list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0;
    padding: 0;
  }
  .command__fon {
    width: 354px;
  }
  .command__title {
    flex-direction: row;
    gap: 30px;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
  }
  .command {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .command_img {
    width: 354px;
  }

  .klients-icon {
    width: 224px;
  }
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/Img\ Overlay-tab.png);
    max-width: 768px;
    padding: 118px 0;
  }
  .nav__contact {
    display: flex;
    flex-direction: column;
    margin-left: 96px;
  }

  .nav__list {
    display: flex;
  }
  .nav__mail-link {
    justify-content: space-between;
  }

  .mobile_burger {
    display: none;
  }
  header > .container {
    padding: 0 15px 0 15px;
  }
  .burger{
    display: none;
  }
  .command__socials {
    justify-content: center;
}
}
