.button {
    background-color: $color-blu;
    color: $color-white;

    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &_servise {
            display: block;
            background-color: $color-blu;
            font-size: 16px;
            line-height: 1.67;
            letter-spacing: normal;
            cursor: pointer;
            font-family: inherit;
            color: $color-white;
            font-weight: 700;
            margin: 30px auto 0;
            padding: 10px 24px;
            border: none;
            border-radius: 4px;

            transition-property:background-color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

            &:hover, &:focus{
                background-color: $color-blu_s;
;
            }
        }
        &_title {
            background-color:$color-black;
            color: $color-white;
            height: 600px;
            width: 1600px;
        }
    &:hover {
        background-color:$color-blu;
        color: $color-white;
    }

    &-mess {
        background-color:$color-blu;
        color: $color-white;
        width: 100%;
        height: 50px;
        box-shadow: 0px 4px 4px $color-shadow;
        border-radius: 4px;
        border-color: $color-blu;
        fill:$color-white;
        gap: 10px;
        padding: 10px 28px;
        border: 0px;
        font-size: 16px;
        line-height: calc(30 / 16);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0;
        margin-bottom: 0;
        cursor: pointer;

        transition-property: color, background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        
        &:hover, &:focus{
        background-color: $color-blu_s;
    }

}}

.mobile_burger{
    background-color: $color-snow;
        color: $color-black;
    border: none;
    display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 116px;
}
.burger {
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    width: 320px;
    height: 100%;
    background-color: $color-white;

    border-radius: 4px;
    box-shadow: 0px 1px 3px $color-shadow-mod12, 0px 1px 1px $color-shadow-mod14,
        0px 2px 1px $color-shadow-mod20;
    display: inline;
}

.burg__list {
    display: flex;
    font-size: 40px;
    list-style: none;
    padding: 0px;
    margin: 0px;
    align-items: baseline;
    gap: 15px;
    flex-direction: column;

}

.burger-btn{
    position: absolute;
        top: 10px;
        right: 10px;
        width: 35px;
        height: 35px;
        
        align-items: center;
        border: none;
        justify-content: center;
        padding: 0;
      
        cursor: pointer;
        background-color: #fff;
 
    }

.burger-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}

.burg__link {
    display: block;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
   
    color: #434455;

        letter-spacing: normal;
        font-weight: 500;
        text-decoration: none;
        ;
        display: flex;
       
        align-items: center;
       
        transition-duration: 250ms;
        -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
.burg__mail-link{
        font-weight: 500;
    font-size: 24px;
    line-height: 1.2px;
    letter-spacing: 0.02em;

    color: #757575;
    }

.burg__contact{
    
    list-style: none;
    margin-bottom: 0;
    padding: 0;
    gap: 10px;
    display: flex;
    flex-direction: column;
} 

.burger-hed{
    margin-bottom: auto;
}

.socials-name{
    list-style: none;
    gap: 20px;
}
.burg__link__social{
         color: $color-blu;
        line-height: 1.14;
        letter-spacing: normal;
        font-weight: 500;
        text-decoration: none;
       
              
        transition-property: color;
          transition-duration: 250ms;
        -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .burg__link__social:hover,.burg__link__social:focus{
        color: $color-black;
    }

    .burg__items:hover .burg__link{
        color: $color-blu;
    }

    .burg-command__socials {
        list-style: none;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-start;
        padding: 0;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        color: #212121;
        margin-top: 40px;
        margin-bottom: 8px;
        gap: 5px;
    }

    .burg__mail-link:hover .burg__link, .burg__mail-link:focus .burg__link{
        color: $color-blu;
         font-size: 34px;
       }